<!--Este código sigue el mismo patrón excepto por la sintaxis 
    {{ request.form['title'] or post['title'] }} y {{ request.form['content'] or post['content'] }}.
    Esto muestra los datos guardados en la solicitud si existe, de lo contrario, muestra los datos de la variable post que se pasó
    a la plantilla que contiene los datos actuales de la base de datos.-->


{% extends "base.html" %}

{% block content %}

   <h1> {% block title %} Edit "{{ post['title'] }}" {% endblock %} </h1>

   <form method= "post">
        <div class= "form-group">
            <label for="Title"> Title </label>
            <input type= "text" name= "title" placeholder= "Titulo de la entrada" class= "form-control" value= "{{ request.form['title'] or post['title'] }}">
            </input>
        </div>

        <div class = "form-group">
            <label for= "content"> Content </label>
            <textarea name= "content" placeholder= "Contenido de la entrada"
                      class= "form-control">{{ request.form["content"] or post["content"] }}
            </textarea>
        </div>

        <div class= "form-group">
            <input type= "submit" value= "Editar" class= "btn btn-primary">
        </div>
    </form>
<hr>

<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')"> <!--Este código muestra una ventana de confirmación al usuario antes de eliminar una entrada-->
</form>

{% endblock %}